rasterio==1.2.10
scipy
cython
scikit-image
pillow
matplotlib
imgaug>=0.4
albumentations>=0.5
graphviz
tqdm
easydict
torchvision>=0.5.0
tensorboard
future
pyshp
sridentify
geopandas
shapely
pytest-shutil